@page
@model Website.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
@using DinoDiner.Menu;



<h1>Menu</h1>
<div id="container">
    <div>
        <h2>Combos</h2>
        @foreach (CretaceousCombo combo in Model.CombosResults)
        {
             
                <div class="menu-item">
                <p>@combo.ToString():</p>
                <ul>*@combo.Entree.ToString()</ul>
                <ul>*@combo.Side.ToString()</ul>
                <ul>*@combo.Drink.ToString()</ul>
                <table>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <th>Small</th>
                        <th>@combo.PriceBySize.Item1</th>
                        <th>@combo.CaloriesBySize.Item1</th>
                    </tr>
                    <tr>
                        <th>Medium</th>
                        <th>@combo.PriceBySize.Item2</th>
                        <th>@combo.CaloriesBySize.Item2</th>
                    </tr>
                    <tr>
                        <th>Large</th>
                        <th>@combo.PriceBySize.Item3</th>
                        <th>@combo.CaloriesBySize.Item3</th>
                    </tr>
                </table>
                <p>Ingredients:</p>
                @foreach (var ingredients in combo.Ingredients)
                {
                    <ul> *@ingredients</ul>
                }
            </div>

            
        }
        <h2>Entrees</h2>
        @foreach (Entree entrees in Model.EntreeResults)
        {
            
            <div class="menu-item">
                <p>@entrees.ToString()</p>
                <p>Price: $@entrees.Price</p>
                <p>Calories: @entrees.Calories</p>
                <p>Ingredients:</p>
                @foreach (var ingredients in entrees.Ingredients)
                {
                    <ul> *@ingredients</ul>
                }
            </div>
        }
        <h2>Sides</h2>
        @foreach (Side side in Model.SideResults)
        {
            
            <div class="menu-item">
                <p> @side.ToString().Substring(5)</p>
                <table>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <th>Small</th>
                        <th>@side.PriceBySize.Item1</th>
                        <th>@side.CaloriesBySize.Item1</th>
                    </tr>
                    <tr>
                        <th>Medium</th>
                        <th>@side.PriceBySize.Item2</th>
                        <th>@side.CaloriesBySize.Item2</th>
                    </tr>
                    <tr>
                        <th>Large</th>
                        <th>@side.PriceBySize.Item3</th>
                        <th>@side.CaloriesBySize.Item3</th>
                    </tr>
                </table>
                <p>Ingredients:</p>
                @foreach (var ingredients in side.Ingredients)
                {
                    <ul> *@ingredients</ul>
                }
            </div>
        }
        <h2>Drinks</h2>
        @foreach (Drink drink in Model.DrinkResults)
        {
            <div class="menu-item">
                <p> @drink.ToString().Substring(5)</p>
                <table>
                    <tr>
                        <th>Size</th>
                        <th>Price</th>
                        <th>Calories</th>
                    </tr>
                    <tr>
                        <th>Small</th>
                        <th>@drink.PriceBySize.Item1</th>
                        <th>@drink.CaloriesBySize.Item1</th>
                    </tr>
                    <tr>
                        <th>Medium</th>
                        <th>@drink.PriceBySize.Item2</th>
                        <th>@drink.CaloriesBySize.Item2</th>
                    </tr>
                    <tr>
                        <th>Large</th>
                        <th>@drink.PriceBySize.Item3</th>
                        <th>@drink.CaloriesBySize.Item3</th>
                    </tr>
                </table>
                <p>Ingredients:</p>
                @foreach (var ingredients in drink.Ingredients)
                {
                    <ul> *@ingredients</ul>
                }
            </div>
        }
    </div>
    <form method="post">
        <input type="text" name="search" id="search" />
        
        <input type ="submit" value="Search" />
        <div class="menu-category">
            <h4>Menu Category</h4>

            <label>
                <input type="checkbox" name="menuCategory" value="Combo" />
                Combo
            </label>

            <label>
                <input type="checkbox" name="menuCategory" value="Entree" />
                Entree
            </label>
            <table >

            </table>
            <label>
                <input type="checkbox" name="menuCategory" value="Side" />
                Side
            </label>

            <label>
                <input type="checkbox" name="menuCategory" value="Drink" />
                Drink
            </label>

            <br />
            <label>
                Minimum Price:
                <input type="number" min="0" max="12" step="0.01" name="minPrice" />
            </label>

            <br />
            <label>
                Maximum Price:
                <input type="number" min="0" max="12" step="0.01" name="maxPrice" />
            </label>

        </div>
        <br />
        <div class="exclude-ingredient">
            @foreach(string ingredient in Model.AvailableIngredients)
            {
            <label>
                <input type="checkbox" name="ingredients" value="@ingredient" />
                @ingredient
            </label>
            }
        </div>

    </form>

    
</div>
